@model DA_QLNhanSu.Models.Position

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Admins/Views/Shared/_LayoutAdmin.cshtml";
}

<h3>Bạn có chắc muốn xóa?</h3>
<div>
    <h4>Position</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Tên chức vụ
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            Lương theo ngày
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DailyWage)
        </dd>
        <dt class = "col-sm-2">
            Mô tả
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Idp" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Quay lại</a>
    </form>
</div>
