@{
    ViewData["Title"] = "DashBoard";
    Layout = "~/Areas/Admins/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="card mb-4 shadow-sm">
    <div class="card-body d-flex align-items-center">
        <img src="~/Images/admin.webp" alt="User Avatar" class="rounded-circle me-3" width="60" height="60">
        <div>
            <h5 class="mb-1">Mừng trở lại,</h5>
            <p class="mb-0">Bạn đang truy cập hệ thống quản lý nhân sự.</p>
        </div>
    </div>
</div>
<!-- Small boxes (Stat box) -->
<div class="row">
    <div class="col-lg-3 col-6">
        <div class="small-box bg-info">
            <div class="inner">
                <h3>@ViewData["EmployeeCount"]</h3>
                <p>Nhân sự</p>
            </div>
            <div class="icon">
                <i class="ion ion-person"></i>
            </div>
            <a href="/admins/products" class="small-box-footer">Chi tiết <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <div class="col-lg-3 col-6">
        <div class="small-box bg-success">
            <div class="inner">
                <h3>@ViewData["ContractCount"]</h3>
                <p>Hợp đồng</p>
            </div>
            <div class="icon">
                <i class="ion ion-document-text"></i>
            </div>
            <a href="/admins/news" class="small-box-footer">Chi tiết <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <div class="col-lg-3 col-6">
        <div class="small-box bg-warning">
            <div class="inner">
                <h3>@ViewData["RewardCount"]</h3>
                <p>Thưởng</p>
            </div>
            <div class="icon">
                <i class="ion ion-ribbon"></i>
            </div>
            <a href="/admins/customers" class="small-box-footer">Chi tiết <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <div class="col-lg-3 col-6">
        <div class="small-box bg-danger">
            <div class="inner">
                <h3>@ViewData["DisciplineCount"]</h3>
                <p>Kỷ luật</p>
            </div>
            <div class="icon">
                <i class="ion ion-alert"></i>
            </div>
            <a href="/admins/contacts" class="small-box-footer">Chi tiết <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>
</div>